.text-box-1{
    border-radius:25px;
    padding:20px;
    width:550px;
    height:8px;
    border:1px solid;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);

}

.advanced-searches{
    width:700px

}

.redirect-buttons{
    position:fixed;
    top:0;
    right:0;
    margin:5px;
    border-radius:2px;

}

button{
    border-radius: 10px;
    border:2px solid;
    display:inline-block;
}

img{
    position: absolute;
    left:50%;
    top:40%;
    transform: translate(-50%, -60%);
}
.submit-buttons{
    position: absolute;
    left:50%;
    top:55%;
    transform: translate(-50%, -45%);
}
